{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="form-signin">

    <div class="row">

        <div class="col-md-4">
            {% comment %} <img class="mt-4 mb-4 img-thumbnail" src="{% static "img/jailBot.PNG" %}" width="300" height="300"> {% endcomment %}
            {%if request.user.profile.avatar %}
                <img class="mt-4 mb-4 img-thumbnail" src="{{ request.user.profile.avatar.url }}"
                    width="300px" height="300px">
            {% endif %}

            <div class="row">
                <div class="col-md-6 offset-md-1">
                    <h7>Total questions:</h7>
                </div>
                <div class="col-md-4">
                    <h7> <b> {{user.profile.counter_questions}} </b></h7>
                </div>

                <div class="col-md-6 offset-md-1">
                    <h7>Total answers:</h7>
                </div>
                <div class="col-md-4">
                    <h7> <b> {{user.profile.counter_answers}} </b></h7>
                </div>

                <div class="col-md-6 offset-md-1">
                    <h7>Correct answers:</h7>
                </div>
                <div class="col-md-4">
                    <h7> <b> {{user.profile.counter_resolved_answers}} </b></h7>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="row mt-5">
                <div class="col-md-7 offset-md-1">
                    <h4>Email address:</h4>
                </div>

                <div class="col-md-1">
                    <h5> <b> {{user.email}} </b></h5>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-7 offset-md-1">
                    <h4>Nickname:</h4>
                </div>

                <div class="col-md-1">
                    <h5> <b> {{user.first_name}} </b></h5>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-7 offset-md-1">
                    <h4>Registration date:</h4>
                </div>

                <div class="col-md-1">
                    <h5> <b> {{user.date_joined}} </b></h5>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-7 offset-md-1">
                    <h4>Gender:</h4>
                </div>

                <div class="col-md-1">
                    <h5> <b> Male </b></h5>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-7 offset-md-1">
                    <h4>Birth date:</h4>
                </div>

                <div class="col-md-1">
                    <h5> <b> 07.07.2007 </b></h5>
                </div>
            </div>

            {% comment %} <div class="row mt-4">
                <div class="col-md-7 offset-md-1">
                    <h4>New nickname:</h4>
                </div>

                <div class="col-md-1">

                    <form>
                        <div class="form-floating settings-nick-field">
                            <input type="text" class=" settings-nick-field form-control"
                                id="floatingInputNick" placeholder="Terminator228">
                            <label for="floatingInputNick">Nickname</label>
                        </div>

                        <div>
                            <button class="settings-nick-btn btn btn-lg btn-primary"
                                type="submit">Accept changes</button>
                        </div>
                    </form>

                </div>
            </div> {% endcomment %}


        </div>

    </div>


    {% comment %} <form>

        <label for="floatingInputAvatar">
            <h5>Update avatar</h5>
        </label>
        <input required type="file" class=" log-in-fields" id="floatingInputAvatar">
        <br> <br> <br>
        <!-- <button class="w-40 btn btn-lg btn-primary" type="submit">Log out</button> -->
        <a href="{% url "logout" %}" class="w-40 btn btn-lg btn-dark">Log out</a>

    </form> {% endcomment %}

    <div class="col-7 mt-5">
        <h3>Change your data</h3>
        <form action="/settings/" method="post", enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

</div>

{% endblock content %}
