{% extends "inc/base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="form-signin">

    <div class="col-7 mt-5">
        <h3>Registration</h3>
        {% comment %} <div class="alert alert-warning" role="alert">
            Sorry, this email address is already regisred!
        </div> {% endcomment %}
        <form action="/signup/"  method="post", enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

    {% comment %} <form>
        <img class="mt-4 mb-4" src="{% static "img/logo_segf.png" %}" width="700" height="200">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating log-in-field">
            <input type="email" class=" log-in-fields form-control" id="floatingInput"
                placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating log-in-field">
            <input type="text" class=" log-in-fields form-control" id="floatingInputNick"
                placeholder="Terminator228">
            <label for="floatingInputNick">Nickname</label>
        </div>

        <div class="form-floating log-in-field">
            <input type="password" class=" log-in-fields form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating log-in-field">
            <input type="password" class=" log-in-fields form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Confirm password</label>
        </div>

        <label for="floatingInputAvatar">Upload avatar</label>
        <input required type="file" class=" log-in-fields" id="floatingInputAvatar">


        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="w-40 btn btn-lg btn-primary" type="submit">Sign up</button>

        <span class="pt-3"><br> <br>Already member?
            <a href="{% url "login" %}" class="btn-link ">Log in</a>
        </span>
        <p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
    </form> {% endcomment %}
</div>

{% endblock content %}
