{% load static %}
<h2 class="mt-5">Best members</h2>
<div class="tags-buttons">
    <a href=""{% url "tag" "name" %}"" class="link-info">Name</a>
  </div>

  <div class="tags-buttons">
    <a href="{% url "tag" "name" %}" class="link-info">Name</a>
  </div>
  <div class="tags-buttons">
    <a href="{% url "tag" "name" %}" class="link-info">Name</a>
  </div>

  <div class="tags-buttons">
    <a href="{% url "tag" "name" %}" class="link-info">Name</a>
  </div>

  <div class="tags-buttons">
    <a href="#" class="text-decoration-none">more people</a>
  </div>