{% load static %}
<div class="container">

    <div class="padding">
      <div class="btn btn-dark">1</div>
      <a class="btn btn-dark" href="{% url "page" 2 %}" rel="" title="Go to page 2">2</a>
      <a class="btn btn-dark" href="{% url "page" 3 %}" rel="" title="Go to page 3">3</a>
      <a class="btn btn-dark" href="{% url "page" 4 %}" rel="" title="Go to page 4">4</a>
      <a class="btn btn-dark" href="{% url "page" 5 %}" rel="" title="Go to page 5">5</a>
      <span class="fs-2"> ....</span>
      <a class="btn btn-dark" href="{% url "page" 1337 %}" rel="" title="Go to page 1337">1337</a>
      <a class="btn btn-dark" href="{% url "page" 0 %}" rel="next" title="Go to page 2"> Next</a>
    </div>

  </div>