{% load static %}
<div class="row question">
    <div class="col-2">
      {% comment %} <img class="avatar-question" src="{% static "img/3.jpg" %}"> {% endcomment %}
      {% comment %} {%if request.user.profile.avatar %} {% endcomment %}
          <img class="avatar-question" src="{{ question.profile.avatar.url }}">
      {% comment %} {% endif %} {% endcomment %}

      <a class="btn"> <b>votes :</b>&nbsp {{question.counter_votes}}</a>
      <a class="btn btn-outline-success"> <b>answers:</b>&nbsp {{question.counter_answers}}</a>
      <a class="btn"> <b>views:</b>&nbsp {{question.counter_views}}</a>

    </div>
    <div class="col-10">
      <h3><a href="{% url "question" question.id %}" class="text-dark"> {{ question.title }} </a></h3>
      <p> {{ question.text }} </p>
    </div>

    <div class="row">
      <div class="col-3">
        <div class="btn">
          {% csrf_token %}
          <button class="likes-buttons" type="button" data-id="{{question.id}}" >
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
              class="bi bi-chevron-double-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z" />
              <path fill-rule="evenodd"
                d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
            </svg>
          </button>
        </div>
        {% comment %} {{question.likequestion_set.count}} {% endcomment %}
        <span class="text-success">{{question.count_likes}}</span>

        <div class="btn likes-buttons">
          <button class="btn", type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
              class="bi bi-chevron-double-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              <path fill-rule="evenodd"
                d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
          </button>
        </div>
        <span class="text-danger">7</span>

      </div>

      <div class="col-4 btn author-label">
        <span>
          <p> <b>Author:</b>&nbsp <a href="{% url "tag" "user" %}">{{question.profile.user.username}}</a> </p>
        </span>
      </div>

      <div class="col-5">
        <div class="container">
          <a class="btn"> <b>Tags:</b></a>
          {% for tag in question.tags.all %}
            <a href="{% url "tag" tag.name %}" class="btn btn-link">{{ tag.name }}</a>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>

